<div class="container">
    <div class="row">
        <div class="col-md-3 gy-4" *ngFor="let une_filiere of les_filieres">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{une_filiere.code_filiere}}</h2>
                    <p>{{une_filiere.nom_filiere}}</p>
                    <a  class="btn btn-primary me-2" [routerLink]="['/edit_filiere',une_filiere.id]"  > modifier</a><a  class="btn btn-danger ms-2" > supprimer</a>
                </div>
            </div>
        </div>
    </div>
</div>