<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Departement
            </a>
            <ul class="dropdown-menu">
              
              <li><a class="dropdown-item" [routerLink]="['/add_departement']">ajouter</a></li>
              <li><a class="dropdown-item" [routerLink]="['/liste_departement']">lister</a></li>
             
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              filiere
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"[routerLink]="['/add_filiere']">ajouter</a></li>
              <li><a class="dropdown-item" [routerLink]="['/list_filiere']">lister</a></li>
             
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              classe
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/add_classe']" >ajouter</a></li>
              <li><a class="dropdown-item" [routerLink]="['/liste_classe']">lister</a></li>
             
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              autre
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">deconnexion</a></li>
             
             
            </ul>
          </li>

         
          
        </ul>
     
      </div>
    </div>
  </nav>
